main.css

.html, body, h1, h2, h3, h4, p, ul, li, a {
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 100%;
	font: inherit;
} 

.header {
	padding: 2px 5px 2px 5px ;	
	background-color: #CCE5FF;
}

.header h1 {
	font-family: Quatttrocento, serif;
	color: #660033;
	font-size: 36px;
	font-style: bold;
}

.header p {
	color: #660033;
	font-family: Source Sans Pro, Times;
	font-size: 14px; 
}

.header a {
	color: #660033;
	font-family: Source Sans Pro, Times;
	font-size: 14px;
}

.work-history {
	color: #404040;
	font-family: Source Sans Pro, Times;
	font-size: 14px;
	background-color: #3399FF;
}

.work-history h4 {
	color: #404040;
	font-family: Quattrocento, serif;
}
.work-history p {
	color: s#404040;
	font-family: Source Sans Pro, Times;
	font-size: 14px:
}

.work-history a {
	color: #3399FF;
	font-family: Source Sans Pro, Times;
	font-size: 14px:
}

.work-history h3 {
	color: #660033;
	font-family: Quattrocento,serif;
	font-size: 16px;
}

.education {
	padding: 2px 5px 2px 5px;
	background-color: #CCE5FF;
}

.education {
	color: #404040;
	font-family: Quattrocento;
	font-size: 14px;
}
