main.css

.header {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;	
	background-color: powderblue;
}

.header h1 {
	font-family: Quatttrocento;
	color: maroon;
	font-size: 36px;
}

.header p {
	color: maroon;
	font-family: Source Sans Pro;
	font-size: 14px; 
}

.header a {
	color: blue;
	font-family: Source Sans Pro;
	font-size: 14px;
}

.work-history {
	color: slategray;
	font-family: Source Sans Pro;
	font-size: 14px;
	background-color: aliceblue;
}

.work-history h4 {
	color: slategray;
	font-family: Quattrocento;
}
.work-history p {
	color: slategray;
	font-family: Source Sans Pro;
	font-size: 14px:
}

.work-history a {
	color: blue;
	font-family: Source Sans Pro;
	font-size: 14px:
}

.work-history h3 {
	color: maroon;
	font-family: Quattrocento;
	font-size: 16px;
}

.education {
	padding-top:1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
}

.education {
	color: darkslategray;
	font-family: Quattrocento;
	font-size: 14px;
}
